    body {
        margin: 0;
    }

    body .overall_container {
        margin: 0;
        min-height: 90vh;
        max-height: fit-content;
        min-width: 70vw;
        max-width: 70vw;
        border: solid red 2px;
        justify-self: center;
        align-self: center;
    }

    .inner_container {
        margin: .5em;
        min-height: 0%;
        max-height: 700px;
        min-width: 0%;
        max-width: 100%;
        border: solid orange 2px;
        display: grid;
        grid-auto-columns: auto 2fr auto;
        grid-auto-rows: 70vh;
        gap: 1em;
        grid-template-areas:
            "socialsS midsectionS buttonsS";
        justify-items: center;
    }




    .socials {
        border: solid black 2px;
        overflow-y: auto;
        overflow-wrap: anywhere;
        justify-content: center;
        text-justify: center;
        max-width: 90px;
        min-width: min-content;
    }

    .midsection {

        overflow-y: auto;
        border: solid rgb(16, 234, 215) 2px;
        overflow-wrap: anywhere;
        max-width: auto;
        min-width: 100%;


    }

    .buttons {
        border: solid rgb(230, 9, 219) 2px;
        overflow-y: auto;
        overflow-wrap: anywhere;
        justify-content: center;
        text-justify: center;
        max-width: 90px;
         min-width: min-content;

    }

    .outer_container {
        min-height: 0%;
        min-width: 0%;
        max-width: 100%;
        /* border: solid 2px greenyellow;*/
        margin: .5em;
        display: grid;
        grid-auto-columns: 29% 70%;
        grid-auto-rows: 45em;
        gap: 1em;
        grid-template-areas:
            "changelogS guestbookS";
        justify-content: center;

    }

    .changelog {
        min-height: 0%;
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        overflow-wrap: anywhere;

    }

    .guestbook iframe {
        overflow-y: auto;
        overflow-wrap: normal;
        max-height: 0%;
        min-height: 100%;
        min-width: 100%;
        max-width: 100%;

        overflow-wrap: anywhere;
    }

    .giant_grid {
        margin: 0;
        min-height: 90vh;
        max-height: fit-content;
        min-width: 100%;
        max-width: 100%;
        display: grid;
        grid-auto-columns: 1fr 70vw 1fr;
        grid-auto-rows: 60px 60px max-content;
        grid-template-areas:
            "top_navS top_navS top_navS"
            "decoleftS announcementsS decorightS"
            "decoleftS overallcontainerS decorightS";
    }

    .top_nav {
        position: sticky;
        top: 0;
        overflow-wrap: anywhere;
        overflow: hidden;
        justify-content: center;

    }

    .announcements {
        overflow: hidden;
        overflow-wrap: anywhere;
        justify-content: center;
    }

    .deco_left {
        border: solid 2px rgb(3, 129, 18);


    }

    .deco_right {
        Border: solid 2px rgb(52, 42, 195);
    }

    /*------------------------------- */
    body {
        background-color: #bbe8ff;
    }

    a {
        text-decoration: none;

    }

    .top_nav {
        padding: 18px;
        background-color: #FF88DC;
        color: #920202;
        border: solid 5px;
        border-radius: 7%;
        border: solid 5px;
        border-radius: 17px;
        border-color: #0729c2;
    }


    .top_nav a:link,
    a:active {
        color: #0729c2;
    }

    .top_nav a:link,
    a:hover,
    a:visited {
        color: #920202;

    }

    .announcements {
        background-color: #bbe8ff;
        color: #0729c2;
        border: solid 5px;
        border-radius: 0px 0px 17px 17px;

    }

    .socials {
        background-color: #FAFF7F;
        color: #0729c2;
        border: solid 5px;
        border-radius: 17px;
        text-align: center;
        padding: 10px;
    }

    .midsection {
        background-color: #f7feff;
        color: #0729c2;
        border: solid 5px;
        border-radius: 7%;
        text-align: center;
        padding: 10px;
    }

    .buttons {
        background-color: #FAFF7F;
        color: #0729c2;
        border: solid 5px;
        border-radius: 17px;
        text-align: center;
        padding: 10px;
    }

    .changelog {
        background-color: #FF5154;
        color: #f7feff;
        border: solid 5px;
        border-radius: 17px;
        border-color: #0729c2;
        padding: 10px;
    }

    .guestbook {
        border: solid 5px;
        border-radius: 17px;
        border-color: #0729c2;
        overflow: hidden;
    }