    body {
        margin: 0;
    }

    body .overall_container {
        margin-top: 0;
        min-height: 90vh;
        max-height: fit-content;
        min-width: 70vw;
        max-width: 70vw;
        border: solid red 2px;
        justify-self: center;
        align-self: center;
    }

    .inner_container {
        margin: .5em;
        min-height: 0%;
        max-height: 700px;
        min-width: 0%;
        max-width: 70vw;
        border: solid orange 2px;
        display: grid;
        grid-auto-columns: minmax(90px, 90px) auto minmax(90px, 90px);
        grid-auto-rows: 70vh;

        gap: 1em;
        grid-template-areas:
            "socialsS midsectionS buttonsS";
        justify-items: center;
    }




    .socials {
        border: solid black 2px;
        overflow-y: auto;
        overflow-wrap: anywhere;
        justify-content: center;
        text-justify: center;
        max-width: 90px;
        min-width: 90px;
    }

    .midsection {

        overflow-y: auto;
        border: solid rgb(16, 234, 215) 2px;
        overflow-wrap: anywhere;
        max-width: 100%;
        min-width: 100%;

    }

    .buttons {
        border: solid rgb(230, 9, 219) 2px;
        overflow-y: auto;
        overflow-wrap: anywhere;
        justify-content: center;
        text-justify: center;
        max-width: 90px;
        min-width: 90px;

    }

    .overall_container .outer_container {
        min-height: 0%;
        min-width: 0%;
        max-width: 100%;
        border: solid 2px greenyellow;
        margin: .5em;
        display: grid;
        grid-auto-columns: 29% 70%;
        grid-auto-rows: 45em;
        gap: 1em;
        grid-template-areas:
            "changelogS guestbookS";
        justify-content: center;
        overflow: hidden;
    }

    .changelog {
        min-height: 0%;
        max-height: 100%;
        border: solid 2px #29759E;
        overflow-y: auto;
        overflow-x: hidden;
        overflow-wrap: anywhere;

    }

    .guestbook iframe {
        border: solid 2px #29759E;
        overflow-y: auto;
        overflow-wrap: normal;
        max-height: 0%;
        min-height: 100%;
        min-width: 100%;
        max-width: 100%;

        overflow-wrap: anywhere;
    }

    .giant_grid {
        margin-top: 0;
        min-height: 90vh;
        max-height: fit-content;
        min-width: 100%;
        max-width: 100%;
        display: grid;

        grid-auto-columns: 1fr 70vw 1fr;
        grid-auto-rows: 60px 60px max-content;
        grid-template-areas:
            "announcementsS announcementsS announcementsS"
            "top_navS top_navS top_navS"
            "decoleftS overallcontainerS decorightS";
    }

    .announcements {
        position: sticky;
        top: 0;
        border: yellow solid 2px;
        overflow-wrap: anywhere;
        overflow: hidden;
        justify-content: center;

    }

    .top_nav {
        border: solid palevioletred 2px;
        /*max-width: 100%;
        min-width: 100%; */
        overflow: hidden;
        overflow-wrap: anywhere;
        justify-content: center;
    }

    .deco_left {
        border: solid 2px rgb(3, 129, 18);


    }

    .deco_right {
        Border: solid 2px rgb(52, 42, 195);
    }